
nav a {
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    color: orange;
    text-decoration: none;
  }

  img {
    max-width: 100%
  }


  
 

  .search-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    gap: 70px;
    background-color: whitesmoke;
    margin-top: 60px;
    margin-bottom: 3rem;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .auction-card {
    display: flex;
    
    max-width: 80%;
    margin: 0 auto;
    flex-direction: row;
    background-color: white;
    color: black;
  }

  .auction-text {
    display: flex;
    flex-direction: row;
  }

  .auction-title{
    margin: 0 auto;
    padding: 10px;
  }

  .auction-bids{
    margin: 0 auto;

  }

  .auction-image {
    min-width: 30%;
  }

  .auction-card:hover {
    opacity: 0.5;
    
    

  }

  #listingContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    gap: 70px;
    background-color: whitesmoke;
    margin-top: 60px;
    margin-bottom: 3rem;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #listing-card {
    display: flex;
     max-width: 80%;
    margin: 0 auto;
    flex-direction: column;
    background-color: white;
    color: black;
  }
  
  
 

 @media screen and (max-width: 800px) {
  #footer-logo
  {
   display: none;
   }
}

@media screen and (max-width: 800px) {
  #footer-copy
  {
  display: inline-block;
   margin: 0 auto;
   }

  }

  @media screen and (max-width: 800px) {
    .search-content
    {
     flex-direction: column;
     width: 30%;
     border: 2px solid white;
     opacity: 1;
     }
  
    }
  

